@charset "UTF-8";
/* home */
/* cont_wrap01 */
.cont_wrap01 {
    min-height: 100%;
    padding-bottom: 50px;
    background-color: #f4f5f7;
}
/* cont_top 콘텐츠 목록 상단 (콘텐츠 개수 콘텐츠 정렬) */
.cont_top01 {
    height: 50px;
    padding: 20px 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
}
.cont_top01:after {
    content: '';
    display: block;
    clear: both;
}
.cont_top01 .inner {
    padding: 0 5%;
    box-sizing: border-box;
}
.cont_top01 .cont_num {
    display: block;
    float: left;
    font-size: 14px;
    font-family: Arial,'Malgun Gothic',sans-serif;
}
.cont_top01 .cont_num .num {
    font-size: 16px;
    font-weight: bold;
    color: #ea005e;
}
.cont_top01 .select_box {
    float: right;
}
.cont_top01 .btn_select{
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    border: none;
}
.cont_top01 .btn_select .icon{
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}
.cont_top01 .select_list{
    position: fixed;
    bottom: -181px;
    left: 0;
    z-index: 400;
    width: 100%;
    background-color: #fff;
    padding-bottom: 60px;
    border-top: 1px solid #ebebeb;
    transition: bottom .3s ease-in-out;
}
.cont_top01 .select_list.open {
    bottom: 0!important;
}
.cont_top01 .select_list .item{
    text-align: center;
    font-size: 0;
}
.cont_top01 .select_list .item.active{
    font-weight: bold;
    color: #ea005e;
}
.cont_top01 .select_list a{
    display: inline-block;
    min-width: 60%;
    max-width: 400px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
/* cont_list01 */
.cont_list01 {
    padding: 20px 3%;
}
.cont_list01 .list:after {
    content: '';
    display: block;
    clear: both;
}
.cont_list01 .item {
    float: left;
    margin: 0 2% 4%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(35,37,41,0.1);
    border-radius: 15px;
}
.cont_list01 .item.half {
    width: 46%;
}
.cont_list01 .item.full {
    width: 96%;
}
.cont_list01 .item .thum_box {
    position: relative;
    width: 100%;
    height: 0;
}
.cont_list01 .item.half .thum_box {
    padding-bottom: 100%;
}
.cont_list01 .item.full .thum_box {
    padding-bottom: 61.8%;
}
.cont_list01 .item .thum {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont_list01 .item .thum_box .icon_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 68px;
    text-shadow: 0 0 5px rgba(35,37,41,0.15);
    opacity: 0.95;
}
.cont_list01 .item .thum_box .icon_gif {
    position: absolute;
    top: 3%;
    right: 3%;
    padding: 3px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Century Gothic',Arial,sans-serif;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(35,37,41,0.1);
    text-shadow: 0 0 5px rgba(35,37,41,0.1);
    background-color: rgba(0,0,0,0.2);
}
.cont_list01 .item .txt_box {
    padding: 7px 10px 14px;
}
.cont_list01 .item .txt_box .tit {
    font-size: 14px;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.cont_list01 .item .info_box {
    margin-top: 10px;
}
.cont_list01 .item .info_box:after {
    content: '';
    display: block;
    clear: both;
}
.cont_list01 .item .info_box .info {
    float: left;
    text-indent: 5px;
    font-size: 14px;
    color: #747474;
}
.cont_list01 .item .info_box .icon {
    width: 18px;
    vertical-align: middle;
}
.cont_list01 .item.half .info_box .info {
    width: 50%;
}
.cont_list01 .item.full .info_box .info {
    width: 20%;
}
.cont_list01 .ad {
    width: 100vw;
    max-width: 780px;
    margin-left: calc(50% - 50vw);
    margin-bottom: 4%;
    font-size: 0;
}
.cont_list01 .ad img{
    width: 100%;
    font-size: 12px;
}

@media screen and (min-width: 781px) {
    .cont_list01 .ad {
        margin-left: calc(50% - 390px);
    }
}

/* post 콘텐츠 */
.post {
    margin-bottom: 8%;
    border-bottom: 1px solid #ebebeb;
}
.post .post_heading_txt{
    border-bottom: 1px solid #ebebeb;
}
.post_heading_txt .post_title{
    padding: 16px 5%;
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    color: #414141;
}
.post_info_box {
    padding: 0 5% 10px;
    text-align: right;
}
.post_info_box .item {
    display: inline-block;
}
.post_info_box .info {
    padding: 5px 10px;
    font-size: 14px;
    color: #747474;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: transparent;
}
.post_info_box .icon {
    height: 16px;
    vertical-align: middle;
}
.post_body {
    padding: 8% 5%;
    min-height: 200px;
    line-height: 1.6;
}
.post_body img{
    max-width: 100%;
}
.post_footer .post_info_box {
    padding-bottom: 0;
}
.post_footer .post_pg_btn_box {
    margin-top: 5%;
    padding: 10px 5%;
    border-top: 1px solid #ebebeb;
}
.post_pg_btn_box {
    text-align: justify;
    font-size: 0;
}
.post_pg_btn_box:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.post_pg_btn_box .item{
    display: inline-block;
    min-width: 20%;
}
.post_pg_btn_box .item.pg_prev {
    text-align: left;
}
.post_pg_btn_box .item.pg_next {
    text-align: right;
}
.post_pg_btn_box .item.pg_list {
    text-align: center;
}
.post_pg_btn_box .item a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 15px;
    color: #414141;
}
.post_pg_btn_box .item .fa {
    font-size: 1.1em;
    color: #747474;
}
/* post 댓글 */
.post_comment_wrap .comments_num {
    margin: 0 5% 5%;
    font-size: 18px;
    font-weight: bold;
    color: #414141;
}
.post_comment_wrap .comments_num .num {
    font-size: 1.15em;
    font-weight: normal;
    color: #ea005e;
}
.post_comment_wrap .comment_list {
    border-bottom: 1px solid #ebebeb;
}
.post_comment_wrap .comment {
    padding: 4% 5%;
    border-top: 1px solid #ebebeb;
}
.comment.best {
    background-color: #f8f9fc;
}
.comment .comment_heading:after {
    content: '';
    display: block;
    clear: both;
}
.comment .comment_heading .user_nick{
    float: left;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #414141;
}
.comment .comment_heading .user_img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 30px;
}
.comment .comment_heading .user_img img {
    width: 100%;
    height: 100%;
}
.comment .comment_heading .date {
    float: left;
    font-size: 12px;
    line-height: 26px;
    color: #747474;
}
.comment .comment_heading .like {
    padding: 0;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 14px;
    line-height: 30px;
    color: #747474;
}
.comment .comment_heading .like .fa {
    font-size: 1.05em;
    color: #ea005e;
    vertical-align: middle;
}
.comment .comment_body {
    margin: 8px 0 14px;
    line-height: 1.6;
    font-size: 14px;
    color: #141414;
}
.comment .lab_best {
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
    line-height: 1;
    font-size: 10px;
    vertical-align: middle;
    border-radius: 3px;
    background-color: #ea005e;
    color: #fff;
}
.comment .comment_btn_box:after {
    content: '';
    display: block;
    clear: both;
}
.comment .comment_btn_box .btn {
    font-size: 13px;
    border-radius: 3px;
    line-height: 1;
    padding: 5px;
}
.comment .comment_btn_box .btn_left {
    float: left;
    margin-right: 5px;
}
.comment .comment_btn_box .btn_right {
    float: right;
    margin-left: 5px;
}
.comment .comment_btn_box .btn_default {
    background-color: #fff;
    border: 1px solid #ccc;
}
.comment .comment_btn_box .num {
    color: #ea005e;
}
.post_comment_wrap .comment_more {
    padding: 0 5%;
    text-align: right;
    border-bottom: 1px solid #ebebeb;
}
.post_comment_wrap .comment_more .link{
    font-size: 15px;
    line-height: 48px;
    color: #414141;
}
/* 댓글쓰기 */
.comment_write {
    padding: 0 5%;
    margin-bottom: 5%;
}
.comment_write .comment_write_form {
    position: relative;
    padding-right: 60px;
    border: 1px solid #ebebeb;
    font-size: 0;
}
.comment_write .label {
    position: absolute;
    top: 0;
    left: 5px;
    line-height: 36px;
    font-size: 14px;
    color: #666;
}
.comment_write .inp_write {
    width: 100%;
    height: 36px;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif;
}
.comment_write .btn_comment_submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #ebebeb;
    border: none;
}
.comment_write .inp_write:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(234, 1, 94, 0.3);
}
.comment_write .inp_write:focus,
.comment_write .inp_write.has_txt {
    height: auto;
    min-height: 65px;
}
.comment_write .inp_write:focus~.label,
.comment_write .inp_write.has_txt~.label {
    color: transparent;
}
.comment_write .inp_write.has_txt~.btn_comment_submit {
    background-color: #ea005e;
    color: #fff;
}