.App_loading {
  display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.App .hide {
	display: none;
}

.load {
	text-align: center;
	font-size: 24px;
	color: #373c5b;
}